.search-container {
    color: #424242;
    background-color: white;
    width: 100%;
    max-width: 333px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin: 10px;
}

.search-tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-tabs button {
    font-size: 16px;
    width: 50%;
    padding: 10px;
}

.search-body {
    padding: 22px 19px 10px;
}

.search-form-button {
    background-color: #7dc243;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    padding: .6em 1em;
    margin: 0 0 1rem;
    float: right;
}

.certified-preowned-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 14px;
}

.zip-container {
    margin-bottom: 1rem;
}

.zip-input {
    font-size: 14px;
    font-weight: 300;
    height: 2rem;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    width: 100px;
}